<div class="jumbotron">
	<h1>About Me</h1>
	<p>I am a student in Canada. Been trying to start my own company since I was in highschool.</P>
	<p>Before I was always the business side relying on tech co-founder. Now I am finally decided to roll up my sleeves and start developing myself!</p>
	<img src="http://bit.ly/1jPXtCT" alt="my pic" class="img-circle", "img-responsive">