<div class="jumbotron">
	<h1>About Me</h1>
  <div class="row">
  	<div class="col-md-8"><p>I am a student in Canada. Been trying to start my own 		company since I was in highschool.</P>
			<p>Before I was always the business side relying on tech co-founder. Now I am finally decided to roll up my sleeves and start developing myself!</p>
		</div>
		<div class="col-md-4"><div class="mypic"></div></div>


